In [7]:
import pandas as pd
from functools import reduce
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
table11 = pd.read_csv("below_min_wage_table11.csv")
table12 = pd.read_csv("salary_women_percentage_of_men_table12.csv")
table13 = pd.read_csv("salary_by_race_table13.csv")
table14 = pd.read_csv("salary_by_education_table14.csv")
table15 = pd.read_csv("hourly_women_percentage_of_men_table15.csv")
table16 = pd.read_csv("hourly_by_race_table16.csv")

merge_dfs = [table11, table12.drop("Year", axis=1), table13.drop("Year", axis=1), table14.drop("Year", axis=1), table15.drop("Year", axis=1), table16.drop("Year", axis=1)]

In [5]:
display(table11.head())
display(table12.head())
display(table13.head())
display(table14.head())
display(table15.head())
display(table16.head())

,Year,Total wage and salary workers,Total,Percentage of total wage and salary workers,Below prevailing federal minimum wage,At prevailing federal minimum wage,Number,Percentage of workers paid hourly rates
0,1979,"87,529","51,721",59.1,"2,916","3,997","6,912",13.4
1,1980,"87,644","51,335",58.6,"3,087","4,686","7,773",15.1
2,1981,"88,516","51,869",58.6,"3,513","4,311","7,824",15.1
3,1982,"87,368","50,846",58.2,"2,348","4,148","6,496",12.8
4,1983,"88,290","51,820",58.7,"2,077","4,261","6,338",12.2

,Year,"Total, 16 years and older",Total 16 to 24,16 to 19 years,20 to 24 years,Total 25 and older,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 years and older
0,1979,62.3,78.6,85.2,76.3,62.1,67.5,58.3,56.8,60.6,77.6
1,1980,64.2,80.3,89.5,78.1,62.8,69.4,58.3,56.9,59.4,76.4
2,1981,64.4,82.6,91.7,80.6,62.6,70.3,59.9,56.8,58.9,71.1
3,1982,65.7,85.3,92.9,82.4,64.9,72.1,61.1,60.1,61.4,70.3
4,1983,66.5,88.8,94.0,85.5,65.8,73.3,61.5,59.5,61.8,68.8

,Year,"Total, 16 years and older",White,Black or African American,Asian,Hispanic or Latino ethnicity
0,1979,62.3,61.7,74.4,–,71.7
1,1980,64.2,63.4,75.8,–,73.5
2,1981,64.4,63.1,76.9,–,75.7
3,1982,65.7,64.5,78.1,–,75.5
4,1983,66.5,65.6,78.9,–,78.5

,Year,"Total, 25 years and older",Less than a high school diploma,"High school graduates, no college",Some college or associate degree,Bachelor's degree and higher
0,1979,62.1,60.3,60.1,64.1,66.7
1,1980,62.8,61.4,61.5,64.5,67.9
2,1981,62.6,61.2,61.0,65.6,66.9
3,1982,64.9,62.8,63.1,66.7,68.8
4,1983,65.8,64.8,63.4,68.2,71.2

,Year,"Total, 16 years and older",Total 16 to 24,16 to 19 years,20 to 24 years,Total 25 and older,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 years and older
0,1979,64.1,81.8,95.0,75.9,58.3,63.3,55.8,54.1,56.9,87.6
1,1980,64.8,84.1,93.2,77.0,58.7,64.1,54.9,54.4,56.4,89.2
2,1981,65.1,86.1,96.7,80.0,60.3,66.7,57.5,54.1,56.2,88.1
3,1982,67.3,86.3,97.0,81.8,62.1,67.7,57.1,55.7,59.0,88.1
4,1983,69.4,87.2,96.7,84.4,62.9,70.3,57.6,56.7,58.0,87.6

,Year,"Total, 16 years and older",White,Black or African American,Asian,Hispanic or Latino ethnicity
0,1979,64.1,62.5,72.6,–,71.8
1,1980,64.8,63.6,74.9,–,75.1
2,1981,65.1,63.8,72.1,–,76.4
3,1982,67.3,66.0,75.2,–,75.6
4,1983,69.4,68.0,79.2,–,76.1

In [14]:
df_merged = pd.concat(merge_dfs, join='inner', axis=1)
df_merged

,Year,Total wage and salary workers,Total,Percentage of total wage and salary workers,Below prevailing federal minimum wage,At prevailing federal minimum wage,Number,Percentage of workers paid hourly rates,"Total, 16 years and older",Total 16 to 24,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 years and older,"Total, 16 years and older",White,Black or African American,Asian,Hispanic or Latino ethnicity
0,1979,"87,529","51,721",59.1,"2,916","3,997","6,912",13.4,62.3,78.6,...,63.3,55.8,54.1,56.9,87.6,64.1,62.5,72.6,–,71.8
1,1980,"87,644","51,335",58.6,"3,087","4,686","7,773",15.1,64.2,80.3,...,64.1,54.9,54.4,56.4,89.2,64.8,63.6,74.9,–,75.1
2,1981,"88,516","51,869",58.6,"3,513","4,311","7,824",15.1,64.4,82.6,...,66.7,57.5,54.1,56.2,88.1,65.1,63.8,72.1,–,76.4
3,1982,"87,368","50,846",58.2,"2,348","4,148","6,496",12.8,65.7,85.3,...,67.7,57.1,55.7,59.0,88.1,67.3,66.0,75.2,–,75.6
4,1983,"88,290","51,820",58.7,"2,077","4,261","6,338",12.2,66.5,88.8,...,70.3,57.6,56.7,58.0,87.6,69.4,68.0,79.2,–,76.1
5,1984,"92,194","54,143",58.7,"1,838","4,125","5,963",11.0,67.6,87.9,...,71.1,59.0,56.9,59.5,89.0,69.8,68.6,79.1,–,77.0
6,1985,"94,521","55,762",59.0,"1,639","3,899","5,538",9.9,68.1,87.6,...,72.4,60.3,57.8,60.4,88.8,70.0,67.8,82.0,–,79.4
7,1986,"96,903","57,529",59.4,"1,599","3,461","5,060",8.8,69.5,89.0,...,74.1,61.4,59.0,60.3,91.3,70.2,68.8,78.7,–,80.8
8,1987,"99,303","59,552",60.0,"1,468","3,229","4,698",7.9,69.8,88.3,...,74.3,62.9,61.3,62.0,91.2,72.1,70.9,80.1,–,80.2
9,1988,"101,407","60,878",60.0,"1,319","2,608","3,927",6.5,70.2,89.7,...,75.6,66.1,61.6,62.4,92.8,73.8,72.7,80.8,–,81.1
10,1989,"103,480","62,389",60.3,"1,372","1,790","3,162",5.1,70.1,90.8,...,78.0,67.0,63.4,63.8,87.1,75.4,74.0,83.2,–,83.0
11,1990,"104,876","63,172",60.2,"2,132","1,096","3,228",5.1,71.9,90.1,...,79.4,68.7,64.3,66.2,89.6,77.9,75.6,84.5,–,86.1
12,1991,"103,723","62,627",60.4,"2,377","2,906","5,283",8.4,74.2,93.3,...,80.4,70.4,65.0,68.9,92.6,78.6,76.6,86.5,–,86.9
13,1992,"104,668","63,610",60.8,"1,939","2,982","4,921",7.7,75.8,94.0,...,82.6,73.1,66.1,69.3,92.6,80.3,78.6,87.1,–,88.3
14,1993,"106,101","64,274",60.6,"1,707","2,625","4,332",6.7,77.1,94.8,...,83.6,73.1,67.3,69.0,92.1,80.4,78.9,89.6,–,88.6
15,1994,"107,989","66,549",61.6,"1,995","2,132","4,128",6.2,76.4,93.9,...,85.5,73.4,69.9,70.7,94.0,80.6,79.7,87.5,–,89.3
16,1995,"110,038","68,354",62.1,"1,699","1,956","3,656",5.3,75.5,90.8,...,83.7,72.6,70.8,71.4,94.2,80.8,78.4,87.3,–,90.9
17,1996,"111,960","69,255",61.9,"1,863","1,861","3,724",5.4,75.0,92.5,...,83.1,74.6,72.1,72.4,91.6,81.2,79.6,88.0,–,88.8
18,1997,"114,533","70,735",61.8,"2,990","1,764","4,754",6.7,74.4,92.1,...,82.7,75.7,72.3,70.5,98.1,80.8,80.3,87.5,–,86.3
19,1998,"116,730","71,440",61.2,"2,834","1,593","4,427",6.2,76.3,91.3,...,86.1,77.4,75.0,72.4,93.2,81.8,81.8,86.9,–,87.6
20,1999,"118,963","72,306",60.8,"2,194","1,146","3,340",4.6,76.5,91.0,...,83.9,76.9,72.7,76.4,95.4,83.8,82.3,83.2,–,86.6
21,2000,"122,089","73,496",60.2,"1,752",898,"2,650",3.6,76.9,91.7,...,88.3,76.3,73.2,76.8,94.7,83.8,83.0,88.8,90.5,87.3
22,2001,"122,229","73,392",60.0,"1,518",656,"2,174",3.0,76.4,90.3,...,85.8,75.0,76.1,80.2,90.4,85.2,83.8,89.9,85.1,85.6
23,2002,"121,826","72,508",59.5,"1,579",567,"2,146",3.0,77.9,93.9,...,85.1,78.7,77.6,80.8,89.3,85.0,83.8,92.3,91.7,86.1
24,2003,"122,358","72,946",59.6,"1,555",545,"2,100",2.9,79.4,93.2,...,87.5,79.1,79.0,78.4,90.3,84.8,84.0,91.7,89.8,88.5
25,2004,"123,554","73,939",59.8,"1,483",520,"2,003",2.7,80.4,93.8,...,88.3,78.4,79.1,79.6,92.5,84.6,84.0,91.3,88.8,90.2
26,2005,"125,889","75,609",60.1,"1,403",479,"1,882",2.5,81.0,93.2,...,89.2,79.6,80.2,80.2,97.8,84.8,84.2,91.1,91.3,90.1
27,2006,"128,237","76,514",59.7,"1,283",409,"1,692",2.2,80.8,94.5,...,87.6,80.0,76.4,80.6,93.0,84.0,83.6,88.5,90.7,87.6
28,2007,"129,767","75,873",58.5,"1,462",267,"1,729",2.3,80.2,92.3,...,87.4,81.5,79.6,79.2,92.2,84.8,83.7,90.3,89.5,88.5
29,2008,"129,377","75,305",58.2,"1,940",286,"2,226",3.0,79.9,91.1,...,87.0,80.5,78.2,81.8,91.6,85.4,84.5,89.9,87.3,85.1
30,2009,"124,490","72,611",58.3,"2,592",980,"3,572",4.9,80.2,92.6,...,90.6,80.7,77.0,84.5,92.6,85.5,84.8,89.7,90.4,84.6
31,2010,"124,073","72,902",58.8,"2,541","1,820","4,361",6.0,81.2,95.3,...,91.9,82.9,79.9,83.2,93.8,86.0,85.0,92.1,88.0,86.2
32,2011,"125,187","73,926",59.1,"2,152","1,677","3,829",5.2,82.2,92.5,...,92.0,83.8,81.5,82.2,91.5,86.8,85.9,93.5,89.8,86.8
33,2012,"127,577","75,276",59.0,"1,984","1,566","3,550",4.7,80.9,88.9,...,91.5,83.9,81.2,83.1,90.9,86.4,85.3,92.0,90.1,85.4
34,2013,"129,110","75,948",58.8,"1,768","1,532","3,301",4.3,82.1,88.3,...,91.1,84.9,81.2,84.1,94.9,86.6,85.7,94.9,91.6,87.5
35,2014,"131,431","77,207",58.7,"1,737","1,255","2,992",3.9,82.5,91.5,...,87.0,84.6,81.2,81.3,89.2,84.6,83.3,94.8,90.2,86.6
36,2015,"133,743","78,232",58.5,"1,691",870,"2,561",3.3,81.1,88.2,...,91.0,85.7,84.3,82.1,89.5,85.6,85.9,92.4,92.8,85.8
37,2016,"136,101","79,883",58.7,"1,451",701,"2,153",2.7,81.9,94.9,...,88.2,85.8,83.0,83.7,88.1,87.0,87.2,92.6,93.6,85.2
38,2017,"137,890","80,439",58.3,"1,282",542,"1,824",2.3,81.8,91.2,...,92.4,83.4,80.9,81.8,93.0,89.2,87.8,94.1,85.5,84.1
39,2018,"140,099","81,915",58.5,"1,276",434,"1,711",2.1,81.1,90.8,...,92.2,82.5,80.0,79.9,92.4,87.8,86.3,91.6,89.6,85.3

In [15]:
df_merged.to_csv("merged_by_year.csv")